/*______________ teaser.css ______________*/


@media only screen and (max-width: 599px) {
	.teaser__text {
		margin-bottom: 20px;
	}
}


/*______________ jobs.css ______________ */

.job:last-child {
    margin-bottom: 0px;
}

@media only screen and (min-width: 320px) {
	.jobs {
		padding: 88px 0;
	}
}


/*______________ services.css ______________ */

@media only screen and (max-width: 1279px) {
	.service__icon img {
		min-width: 118px;
		margin-top: 10px;
	}
		.service__icon {
		left: -13px;
	}
}


/*______________ interactive-header.css ______________ */

.interactive-header {
	min-height: auto;
}

.accordion__content .button {
	margin-bottom: 20px;
}

@media only screen and (min-width: 320px)  {
	.interactive-header {
		padding: 92px 0 120px;
	}
	.accordion__content-in {
		margin-bottom: 105px;
	}
	.accordion__content .button {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 767px) {
	.accordion__content .button {
		left: 0px;
	}
}
@media only screen and (min-width: 1024px) {
	.accordion__content .button {
		margin-top: 50px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1919px) {
	.accordion__content {
		top: 57px;
	}
}


/*______________ case.css ______________ */

.case__hero-bg {
    background-position: right center;
}

.case__content {
    padding-bottom: 104px;
}

@media only screen and (min-width: 1024px) {
	.case__hero .row > div {
			padding-right: 43.75%;;
	}
}

@media only screen and (orientation: portrait) {
	.case__hero-bg.case__hero-bg--portrait {
		background-position: center bottom;
	}
}


/*______________ Page – Projects Map Blank ______________ */

body.page-id-17855 .map__in {
	width: 100%;
    height: 100%;
	border-radius: 0;
	left: 0;
	top: 0;
}

body.page-id-17855 .mapboxgl-canvas {
	border-radius: 0;
}


body.page-id-17855 .map__close {
	display: none;
}

body.page-id-17855 .main {
	padding-bottom: 0;
}
