/* tamil */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 300;
  src: local('Hind Madurai Light'), local('HindMadurai-Light'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfXaUXaMEpAJ0.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 300;
  src: local('Hind Madurai Light'), local('HindMadurai-Light'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfXaUXcMEpAJ0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 300;
  src: local('Hind Madurai Light'), local('HindMadurai-Light'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfXaUXfsEp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Madurai Regular'), local('HindMadurai-Regular'), url(../fonts/hindmadurai/v3/f0Xx0e2p98ZvDXdZQIOcpqjX4IcCQeA.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Madurai Regular'), local('HindMadurai-Regular'), url(../fonts/hindmadurai/v3/f0Xx0e2p98ZvDXdZQIOcpqjX-IcCQeA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Madurai Regular'), local('HindMadurai-Regular'), url(../fonts/hindmadurai/v3/f0Xx0e2p98ZvDXdZQIOcpqjX9ocC.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 500;
  src: local('Hind Madurai Medium'), local('HindMadurai-Medium'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfBaQXaMEpAJ0.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 500;
  src: local('Hind Madurai Medium'), local('HindMadurai-Medium'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfBaQXcMEpAJ0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 500;
  src: local('Hind Madurai Medium'), local('HindMadurai-Medium'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfBaQXfsEp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Madurai SemiBold'), local('HindMadurai-SemiBold'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfKaMXaMEpAJ0.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Madurai SemiBold'), local('HindMadurai-SemiBold'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfKaMXcMEpAJ0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Madurai SemiBold'), local('HindMadurai-SemiBold'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfKaMXfsEp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Madurai Bold'), local('HindMadurai-Bold'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfTaIXaMEpAJ0.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Madurai Bold'), local('HindMadurai-Bold'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfTaIXcMEpAJ0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Madurai Bold'), local('HindMadurai-Bold'), url(../fonts/hindmadurai/v3/f0Xu0e2p98ZvDXdZQIOcpqjfTaIXfsEp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}